PORT=3000

# MySQL Database
DB_HOST=sql12.freesqldatabase.com
DB_PORT=3306
DB_USER=sql12829758

DB_PASSWORD=k7Xz53KIRP
DB_NAME=sql12829758

# GitHub Personal Access Token (optional but recommended to avoid rate limits)
GITHUB_TOKEN=
